<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoToptalCI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9476D7AF28B6DC01006DE0D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9476D7C528B6DC04006DE0D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9476D7CF28B6DC05006DE0D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
